body {
  font-family: 'Poppins', sans-serif;
  background: #f5f7fa;
  margin: 0;
  padding: 20px;
  color: #333;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color:none;  /*  #E9E0CF  */
    opacity:80%;
    padding: 10px 20px;
    color: #1E3534;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.titulo {
  text-align: center;
  color: #4a8c7a;
  margin-bottom: 30px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.product-card {
  background: #fff;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  overflow: hidden;
  transition: transform 0.2s ease;
}

.product-card:hover {
  transform: translateY(-5px);
}

.product-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.product-info {
  padding: 15px;
  text-align: center;
}

.product-info h3 {
  color: #333;
  margin-bottom: 10px;
}

.price {
  font-weight: bold;
  color: #4a8c7a;
  display: block;
  margin-bottom: 10px;
}

.quantity-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin-bottom: 10px;
}

.quantity-controls button {
  background-color: #4a8c7a;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 8px;
  cursor: pointer;
}

.add-to-cart {
  background-color: #ffb84d;
  border: none;
  padding: 10px 15px;
  border-radius: 12px;
  cursor: pointer;
  color: #fff;
  font-weight: bold;
  transition: background 0.3s;
}

.add-to-cart:hover {
  background-color: #ff9800;
}

.go-to-cart {
    background-color: #1E3534;
    color: white;
    border: none;
    padding: 8px 14px;
    border-radius: 20px;
    font-size: 0.9em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.go-to-cart:hover {
    background-color: #5794AB;
}

.back-button {
     background: transparent;
      border: 2px solid #e89b0b;
      padding: 6px 30px;
      color: #e89b0b;
      font-size: 18px;
      border-radius: 12px;
      cursor: pointer;      
      font-weight: 800;
      transition: 0.25s;
}

    .back-button:hover {
  background-color: #D4AF37;
  transform: scale(1.08);
}

.crud-button, .crud-small {
  background-color: #4CAF50;
  color: white;
  border: none;
  font-weight:bold;
  padding:6px 9px;
  margin-left: 8px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
}

.crud-small {
  background-color: #3b82f6;
  font-size: 12px;
  padding:6px 9px;
  font-weight:bold;
}

.crud-button:hover,
.crud-small:hover {
  opacity: 0.8;
}

.export-buttons{
    display:flex;
    flex-wrap:wrap;
    gap:10px;
    justify-content:center;
    margin:20px 0;
}

.btn-pdf,
.btn-word,
.btn-excel{
    padding:6px 9px;
    border:none;
    border-radius:10px;
    cursor:pointer;
    font-weight:bold;
    font-size:12px;
    transition:0.3s;
}

.btn-pdf{
    background:#d9534f;
    color:white;
}

.btn-word{
    background:#2b579a;
    color:white;
}

.btn-excel{
    background:#217346;
    color:white;
}

.btn-pdf:hover,
.btn-word:hover,
.btn-excel:hover{
    transform:scale(1.05);
}
